h1 {
    margin: 5px;
    padding: 5px;
    background-color: aqua;
    align-content: center;
}

div {
    display: flex;
    background-color: red;
    width: 700px;
    flex-wrap: wrap;
}

#header {
    width: 100%;
}

#menu {
    flex-grow: 1;
    height: 250px;
}

#main,
#right {
    flex-grow: 2;
}

#footer {
    width: 100%;
}

@media all and (max-width:700px) {
    div {
        width: 300px;
        float: left;
        padding: 10px;
    }
}

@media all and (max-width:400px) {
    div {
        width: 200px;
        float: left;
        padding: 10px;
    }
}